# Project Pipeline Lab


## 1. Data loading
In this lab we will create pipelines for data processing on the [Titanic dataset](http://www.kaggle.com/c/titanic-gettingStarted/data).

The dataset is a list of passengers. The second column of the dataset is a “label” for each person indicating whether that person survived (1) or did not survive (0). Here is the Kaggle page with more information on the dataset:

You can grab the titanic data as follows:

    psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student titanic
    password: gastudents

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sqlalchemy import create_engine

connect_param = 'postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com:5432/titanic'
engine_titanic = create_engine(connect_param)

query = pd.read_sql("SELECT * FROM pg_catalog.pg_tables WHERE schemaname='public'", con=engine_titanic)
query = pd.read_sql("SELECT * FROM train", con=engine_titanic)
query.head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

Have a look at the data using the info method:

- Are there numerical features?
- Are there categorical features?
- Which columns have missing data?
- Which of these are important to be filled?

In [4]:
query.info()
# Mix of numerical and categorical features
# Age, Cabin, and Embarked have nulls
# Age and embarked aren't missing many so should be filled, but cabin is missing most of the data so
# it is much harder to fill, and other features will probably overshadow it

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
index          891 non-null int64
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

## 2. Age

Several passengers are missing data points for age. Impute the missing values so that there are no “NaN” values for age as inputs to your model. Explore the distribution of age and decide how you are going to impute the data.

In [5]:
query.drop("Cabin", axis = 1, inplace = True)
query.drop("PassengerId", axis = 1, inplace = True)
query.drop("Ticket", axis = 1, inplace = True)
query.drop("Name", axis = 1, inplace = True)
query = query[pd.notnull(query['Embarked'])]
# Can I add in age values based on known ages w/ other features?
# or is the random/std/mean of the distribution fill better?

titanic = query
df = query

### 2.b Age Transformer

Create a custom transformer that imputes the age values. Depending on how you have decided to impute missing values, this could involve:

- Selecting one or more columns
- Filling the NAs using Imputer or a custom strategy
- Scaling the Age values

In [8]:
from sklearn import linear_model, preprocessing
# prep for dummification
titanic_test = titanic
titanic_test['Pclass'] = titanic_test['Pclass'].astype(str)
titanic_test['SibSp'] = titanic_test['SibSp'].astype(str)
titanic_test['Parch'] = titanic_test['Parch'].astype(str)

# Exclude ID for modeling, unique ID = row index
col_minus_index = titanic.columns.values[1:]

y = titanic_test[pd.notnull(titanic_test['Age'])]['Age']

titanic_test = pd.get_dummies(titanic_test[col_minus_index])

#The subset where age is not null
titanic_nons = titanic_test[pd.notnull(titanic_test['Age'])].drop("Age",axis = 1)

#The subset where age is null
titanic_nulls = titanic_test[pd.isnull(titanic_test['Age'])].drop("Age", axis = 1)

X = titanic_nons

# predict ages
X_titanic_nulls = titanic_nulls

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
lm = linear_model.LinearRegression()

lm.fit(X_train,y_train)
print "ACC r^2: "
print lm.score(X_test,y_test)

#Do it
lm = linear_model.LinearRegression()
lm.fit(X,y)

ages = lm.predict(X_titanic_nulls)

titanic_nulls['Age'] = ages
stuff = pd.DataFrame(titanic_nulls['Age'])
stuff.head()

#titanic and age left join
# then merge new age col with original age column
#df['age'] = [df['old'] if df['old']notnull else df['new']]
titanic['index'] = titanic.index.values
stuff['index'] = stuff.index.values

mergy = titanic.merge(stuff, how = "left", on = "index")

ACC r^2:
0.285221367066

In [10]:
mergy['Age'] = mergy['Age_y'].fillna(mergy['Age_x'])
titanic = mergy.drop(["Age_x","Age_y","index"],axis = 1)
# #mergy.ix[mergy['Age_y'].isnull(),'Age_y'] = mergy['Age_x']
titanic.head()

   Survived Pclass     Sex SibSp Parch     Fare Embarked   Age
0         0      3    male     1     0   7.2500        S  22.0
1         1      1  female     1     0  71.2833        C  38.0
2         1      3  female     0     0   7.9250        S  26.0
3         1      1  female     1     0  53.1000        S  35.0
4         0      3    male     0     0   8.0500        S  35.0

In [11]:
from sklearn.pipeline import make_pipeline, make_union
from sklearn.preprocessing import Imputer, StandardScaler
from sklearn.base import BaseEstimator, TransformerMixin

class ColumnSelector(BaseEstimator, TransformerMixin):
    def __init__(self, columns):
        self.columns = columns
    
    def transform(self, X, *_):
        if isinstance(X, pd.DataFrame):
            return pd.DataFrame(X[self.columns])
        else:
            raise TypeError("This transformer only works with Pandas Dataframes")
    
    def fit(self, X, *_):
        return self


# my custom method didn't work very well.
age_pipe = make_pipeline(ColumnSelector('Age'),
                         Imputer(),
                         StandardScaler())

#Shows that the columnselector works, and that they were imputed + scaled
#also starting with a fresh DF
age_pipe.fit_transform(df)[:5]

array([[-0.58961986],
       [ 0.64484799],
       [-0.28100289],
       [ 0.41338527],
       [ 0.41338527]])

## 3. Categorical Variables

`Embarked` and `Pclass` are categorical variables. Use pandas get_dummies function to create dummy columns corresponding to the values.

`Embarked` has 2 missing values. Fill them with the most common port of embarkment.

Feel free to create a GetDummiesTransformer that wraps around the get_dummies function.

In [13]:
df['Embarked'].value_counts()
df['Embarked'] = df['Embarked'].fillna('S')

In [25]:
#Gets the dummies for all of the different classifications, allows chaining
class GetDummiesTransformer(BaseEstimator, TransformerMixin):
    def __init__(self, columns):
        self.columns = columns
    
    def transform(self, X, *_):
        if isinstance(X, pd.DataFrame):
            return pd.get_dummies(X[self.columns], columns = self.columns)
        else:
            raise TypeError("This transformer only works with Pandas Dataframes")
    
    def fit(self, X, *_):
        return self

one_hot_pipe = GetDummiesTransformer(['Pclass', 'Embarked'])
#one_hot_pipe.fit_transform(df).head()

## 4. Boolean Columns

The `Sex` column only contains 2 values: `male` and `female`. Build a custom transformers that is initialized with one of the values and returns a boolean column with values of `True` when that value is found and `False` otherwise.

In [26]:
#Gets the dummies for all of the different classifications, allows chaining

class BinaryTransformer(BaseEstimator, TransformerMixin):
    def __init__(self, flag):
        #set the flag conditional
        self.flag = flag
    
    def transform(self, X, *_):
        return X == self.flag

    def fit(self, X, *_):
        return self

In [27]:
#Set True if male
gender_pipe = make_pipeline(ColumnSelector('Sex'),
                            BinaryTransformer('male'))

#gender_pipe.fit_transform(df.head())

## 5. Fare

The `Fare` attribute can be scaled using one of the scalers from the preprocessing module.

In [28]:
fare_pipe = make_pipeline(ColumnSelector('Fare'),
                         StandardScaler())
#fare_pipe.fit_transform(df.head())

## 6. Union

Use the `make_union` function from the `sklearn.pipeline` modeule to combine all the pipes you have created.

In [30]:
#takes all of the different column transforms I have done and puts them together.
union = make_union(age_pipe,
                   one_hot_pipe,
                   gender_pipe,
                   fare_pipe)

#union.fit_transform(df.head())

The union you have created is a complete pre-processing pipeline that takes the original titanic dataset and extracts a bunch of features out of it. The last step of this process is to persist the `union` object to disk, so that it can be used again later. The following lines achieve this:

In [31]:
import dill
import gzip

with gzip.open('../../assets/datasets/union.dill.gz', 'w') as fout:
    dill.dump(union, fout)

## Bonus

Can you think of a way to engineer an additional boolean feature that keeps track whethere the person is travelling alone or with family?

In [ ]:
#Yes, just have a binary for if ParCh and SibSp are <1, false if >=1